@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CategoryName)
        <br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x=>x.CategoryDescription,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CategoryDescription)

        <br />
        <button class="btn btn-info">kaydet</button>
    </div>
}
